body {
	background-color:#f6f6f6;
}

li {
	padding-top:20px;
}

p {
	text-indent:2em;
}

/* 返回主页的浮动链接 */
.home {
	position:fixed;
	top:30px;
	right:150px;
}

/* 外框main table */
.main_table {
    width:100%;
    margin-top:0px;
    margin-left:0px;
    border-collapse:collapse;
}

.lined_table {    
}


/*缩进2em table*/
.p_table {
    margin-top:0px;
    margin-left:2em;
    border-collapse:collapse;
}

/* 代码行，命令行内容(黑白配) */
.shell {
    background-color:#000000;
    color:#FFFFFF;
    font-family:Courier New;
    width:70%;
}
/*缩进2em table*/
.p_shell {
    margin-left:2em;
    background-color:#000000;
    color:#FFFFFF;
    font-family:Courier New;
    width:70%;
}
/* 代码行，命令行内容(黑白配) */
.shell_long {
    background-color:#000000;
    color:#FFFFFF;
    font-family:Courier New;
}

/* 表格的标题，h1 */
.thh1 {
    text-align:left;
}

/* 1行3列 30%30%40% 取30% */
.td334_3 {
    width:30%;
    vertical-align:top;
    border:solid 1px blue;
}

/* 1行3列 30%30%40% 取40% */
.td334_4 {
    width:40%;
    vertical-align:top;
    border:solid 1px blue;
}

/* 1行2列 第一列2行td布局 */
.td55 {
    width:50%;
    vertical-align:top;
    border:solid 1px blue;
}

/* 1行1列 */
.td100 {
    vertical-align:top;
    border:solid 1px blue;
}

/* 段落 错误 */
/* 段落 正确 */
.perror {
    color:red;
    font-weight:bold;
}
.pok {
    color:green;
    font-weight:bold;
}